body {
  background: rgba(26, 91, 199, 0.91);
  color: red;
  font-family: "Roboto", sans-serif;

  /* Set BASE FONT SIZE. If we don't set this, browser uses 16px. */
  font-size: 20px;
}

h1 {
  color: green;
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

figure {
  margin: 25px auto;
  text-align: center;
  width: 100vw;
}

/* Responsive image is limited to the width of its parent. */
img {
  max-width: 100%;
}

section {
  font-size: 10px;
}

p {
  font-size: 0.75rem;
}

/* Navigation */

