.container {
  margin: 0 auto;
  max-width: 960px;
  width: 80vw;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: solid 3px red;
  padding: 10px 20px 40px;
}

nav {
  background-color: red;
}

section p {
  background: blanchedalmond;
}

p>span {
  background-color: ivory;
}

span>span {
  background: rebeccapurple;
}

p+p {
  background: yellowgreen;
}

img:nth-child(even) {
  border: solid 3px green;
}

img:nth-child(odd) {
  border: solid 3px gold;
}

/* Contact Form */
form>div {
  margin: 10px 0;
}

form p {
  margin-bottom: 5px;
}

label+input {
  margin-left: 5px;
}

span+span {
  margin-left: 10px;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}
