/* body {
  font-family: "Chilanka", cursive;
} */
html {
  --primary: #6200ee;
  --primary-variant: #3700b3;
  --secondary: #03dac6;
  --secondary-variant: #018786;
  --error: #b00020;
  --base-spacing: 8px;

  font-size: 14px;
}

section {
  padding: var(--base-spacing);
}

header,
section:nth-of-type(odd) {
  background: var(--primary);
}

nav,
footer,
section:nth-of-type(even) {
  background: #018786;
}

section:nth-of-type(odd) {
  background: var(--primary);
}

header,
nav {
  padding: calc(var(--base-spacing) * 2);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  /* border-radius: calc(var(--base-spacing) * 200); */
  border-radius: 50%;
  box-shadow: 12px 14px 9px;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}
nav,
p {
  font-size: 1.563em;
}

li {
  list-style-type: none;
}

nav {
  min-height: calc(var(--base-spacing) * 10);
  text-align: center;
}

nav li {
  padding: calc(var(--base-spacing) * 2.5) 0;
}

nav a {
  text-decoration: none;
}

.fas {
  font-size: 4em;
}

nav .fas {
  position: absolute;
  transform: translateX(calc(50vw - calc(var(--base-spacing) * 250)));
}

h1 {
  font-size: 3.052em;
  text-align: center;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}

.hero {
  align-items: center;
  background-image: url(https://picsum.photos/800/500);
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  background-position: top center;
  height: 25vh;
  justify-content: center;
}

.btn {
  background: grey;
  border-radius: var(--base-spacing);
  color: whitesmoke;
  padding: var(--base-spacing);
  text-decoration: none;
  text-transform: uppercase;
}

section .btn {
  background: grey;
  display: inline-block;
  margin: var(--base-spacing);
}

.is-hidden--mobile {
  font-size: 0;
  height: 0;
}
footer,
footer a {
  color: white;
}
footer {
  color: white;
  padding: var(--base-spacing);
}
footer ul {
  display: flex;
  justify-content: space-between;
}
footer p {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  footer ul {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  header {
    flex-direction: row;
  }
}

.hero {
  background-image: url(https://picsum.photos/1800/1500);
  min-height: 50vh;
}
section .btn {
  margin-top: auto;
  max-width: calc(var(--base-spacing) * 15);
  text-align: center;
}

.flex--desktop {
  display: flex;
}

.flex-column--desktop {
  flex-direction: column;
}
.justify-space-around--desktop {
  justify-content: space-around;
}
.is-hidden--desktop {
  font-size: 0;
  height: 0;
}

.is-shown--desktop {
  font-size: initial;
  height: initial;
}
